main {
    display: block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
    line-height: 1.5;
}
p{
    font-style: italic;
    font-size: 20px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
ul{
    max-width: 650px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li {
    margin: 16px 0px;
}
blockquote {
    max-width: 650px;
    margin: 0 auto 50px auto;
    font-style: italic;
    text-align: left;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
#title{
    font-size: 50px;
}
#img-div{
    background: white;
    padding: 10px;
    margin: 0;
}
#img-caption{
    margin: 15px 0px 5px 0px;
}
#tribute-info{
    font-size: 16px;
    line-height: 24px;
}
#headline {
    margin: 50px 0px;
}
#tribute-link{
    color: #477ce7;
}